    <div class="pr-comment-container">
      {{textarea value=model.body}}
    </div>
    <div class="actions text-right">
      <button class="action" onclick={{action 'cancel'}}>Cancel</button>
      <button class="action" onclick={{action 'submit'}}>Submit</button>
    </div>