<h1 class='pr-title'>This is the title of my PR</h1>
<div class="container">
  <div class="pr-body">
  This is the body of my pull request. It should be rendered in markdown so that `this code` and a

  ## Heading

  looks really sweet!
</div>

<div class="pr-comment">
  <div class="pr-comment-path">/app/models/abc.js</div>
  <div class="pr-comment-diff">
@@ -4,6 +4,8 @@
     "ember": "~2.4.3",
     "ember-cli-shims": "0.1.1",
     "ember-cli-test-loader": "0.2.2",
-    "ember-qunit-notifications": "0.1.0"
+    "ember-qunit-notifications": "0.1.0",
+    "highlightjs": "^9.2.0",
+    "showdown": "^1.3.0"
   }
 }
  </div>
  <div class="pr-comment-body">
    This is the body of my comment. It should also be rendered in markdown since that's what github supports
  </div>
</div>

<div class="pr-comment">
  <div class="pr-comment-path">/app/models/abc.js</div>
  <div class="pr-comment-diff">
@@ -4,6 +4,8 @@
     "ember": "~2.4.3",
     "ember-cli-shims": "0.1.1",
     "ember-cli-test-loader": "0.2.2",
-    "ember-qunit-notifications": "0.1.0"
+    "ember-qunit-notifications": "0.1.0",
+    "highlightjs": "^9.2.0",
+    "showdown": "^1.3.0"
   }
 }
  </div>
  <div class="pr-comment-body">
    This is the body of my comment. It should also be rendered in markdown since that's what github supports
  </div>
</div>

<div class="pr-comment">
  <div class="pr-comment-path">/app/models/abc.js</div>
  <div class="pr-comment-diff">
@@ -4,6 +4,8 @@
     "ember": "~2.4.3",
     "ember-cli-shims": "0.1.1",
     "ember-cli-test-loader": "0.2.2",
-    "ember-qunit-notifications": "0.1.0"
+    "ember-qunit-notifications": "0.1.0",
+    "highlightjs": "^9.2.0",
+    "showdown": "^1.3.0"
   }
 }
  </div>
  <div class="pr-comment-body">
    This is the body of my comment. It should also be rendered in markdown since that's what github supports
  </div>
</div>
</div>

{{yield}}
