<h4>Pulls</h4>
<diff class="filters">
  <a href='#'>Open</a>
  <a href='#'>Closed</a>
  <a href='#'>All</a>
</diff>
<ul>
{{#each model as |p|}}
  <li>
  [{{p.state}}] - {{p.title}}
  </li>
{{/each}}
</ul>