<h1 class="pr-title">Pull Request Title</h1>
<div class="container">
  <div class="pr-body">

    {{{markdown markdownMarkup}}}

  </div>

  <div class="pr-comment">
    <div class="pr-comment-path">
      /here/is/my/file.js
    </div>
    <div class="pr-comment-diff">
      {{diff-text diff=diffText}}
    </div>
    <div>
      This is the body of my comment. I'm getting really heated about tabs vs. spaces!!!!!!
    </div>
  </div>

  <div class="pr-comment">
    <div class="pr-comment-path">
      /here/is/my/file.js
    </div>
    <div class="pr-comment-diff">
      here is my diff
    </div>
    <div>
      This is the body of my comment. I'm getting really heated about tabs vs. spaces!!!!!!
    </div>
  </div>

  <div class="pr-comment">
    <div class="pr-comment-path">
      /here/is/my/file.js
    </div>
    <div class="pr-comment-diff">
      here is my diff
    </div>
    <div>
      This is the body of my comment. I'm getting really heated about tabs vs. spaces!!!!!!
    </div>
  </div>

  <div class="compose-pr-comment">
    <div class="pr-comment-container">
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="actions text-right">
      <button class="action">Cancel</button>
      <button class="action">Submit</button>
    </div>
  </div>
</div>